.dialogs {
    display:grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;
}

.dialognames {
    padding: 15px;  
    border-radius:20px;
    background-color: rgb(116, 175, 230);
}

.active {
    color:rgb(190, 13, 196);
    text-decoration: none;
    font-size: larger;
}

.dialog {
    color:rgb(45, 53, 82);
    text-decoration: none;
}

.messages {
    background-color:darkseagreen;
    border-radius: 20px;
    padding: 20px;
}