.input {
  padding: 10px;
  font-size: large;
  width: 700px;
  height: 100px;
  border-radius: 15px;
  background-color: rgb(217, 248, 248);
}

.MyPosts textarea {
  font-size: large;
  width: 700px;
  height: 100px;
  background-color: antiquewhite;
}
