.date {
  color: rgb(62, 62, 65);
  padding: 10px;
  text-align: end;
  font-size: medium;
}
.text {
  width: 100%; /* Ширина контейнера, в котором отображается текст */
  word-wrap: break-word; /* Перенос длинных слов на новую строку */
  overflow-wrap: break-word;
}
