.nav {
  grid-area: n;
  background-color: rgb(155, 202, 216);
  padding: 20px;
  border-radius: 20px;
}

.item {
  color: rgb(18, 44, 17);
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}

.active {
  color: rgb(230, 42, 174);
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  text-decoration: none;
}

.pic {
  width: 25px;
  padding: 10px;
  padding-bottom: 0;
}

.page {
  padding-bottom: 10px;
  border-radius: 10px;
}

.page:hover {
  background-color: aquamarine;
}
