.nav {
  grid-area: n;
  background-color: #292929;
  color: #ffffff;
}

.item {
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}

.active {
  color: rgb(194, 78, 248);
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  text-decoration: none;
}

.pic {
  width: 25px;
  padding: 10px;
  padding-bottom: 0;
}

.page {
  padding: 8px;
  border-radius: 10px;
}

.page:hover {
  background-color: rgb(37, 45, 70);
}
